* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    
}
body{
    
    position: relative;
}

/* h1 to h6 tag  */

/* navbar  */

.navbar-color{
    background: #0b253e !important;
    color: #fff;
}
.main-menu {
    margin: 5%;
    height: 600px;
}

.main-nav{
    font-size: 16px;
    background: #0b253e;
    /* background: url("https://picsum.photos/200/300?grayscale"); */
    text-align:center;
    border: 1px solid rgb(255, 81, 0);
    padding: 80px;
}
.main-nav a {
    color: #fff !important;
    
}
#nav1:hover{
    background: url("https://picsum.photos/200/300?grayscale");
    transition: 0.7s;

}
#nav2:hover{
    background: url("https://picsum.photos/200/300?grayscale");
    transition: 0.7s;

}
#nav3:hover{
    background: url("https://picsum.photos/200/300?grayscale");
    transition: 0.7s;

}
#nav4:hover{
    background: url("https://picsum.photos/200/300?grayscale");
    transition: 0.7s;

}
#nav5:hover{
    background: url("https://picsum.photos/200/300?grayscale");
    transition: 0.7s;

}
#nav6:hover{
    background: url("https://picsum.photos/200/300?grayscale");
    transition: 0.7s;

}
.x-border{
   
    border: 2px solid #e47124;
}
.x-img {
    margin: 40px 40px -40px 40px;
}
.img-x {

    margin: 40px -40px -40px;}
.x-header{
    margin: 5%;
    color: rgb(32, 153, 143);
}
.x-discription{
    margin: 5%;
    font-size: 14px;
}
.x-link {
    margin: 5%;
    color: #9e4d18;
}
.def-u{
    margin-top: 20%;
}

/* chart bar */

.chartcolor{
    color: #e47124;
}
#xi{

    background: #0b253e;
    padding-top: 10%;
    padding-bottom: 10%;
}




.chart-container{
    position: relative;
  }
  
  svg{
    box-shadow: 0px 20px 50px -18px #aaa;
    border-radius: .123rem;
  }
  .bar {
    fill: #1698a1;
    transition: all 150ms ease;
    border:     1px solid rgba(24, 201, 186, 0.808);
  }
  
  .bar:hover {
    fill: #09163d;
  }
  
  .axis--x path {
    visibility: hidden;
  }
  
  svg text{
    fill: black;
  }
  
  .background-style{
    background: transparent;
  }
  
  /* tip */
  .tip{
    width: 3rem;
    background-color: #eee;
    text-align: center;
      box-shadow: 0px 2px 10px -2px #aaa;
    border: 2px solid #444;
    transition: all 160ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  .tip::after{
      content: " ";
      position: absolute;
      bottom: -.5rem;
      left: 50%;
      margin-left: -.5rem;
      border-style: solid;
      border-width: .5rem .5rem 0 .5rem;
      border-color: #444 transparent transparent transparent;
      }
  
      .xixi-header{
          color: #9e4d11;
          margin-top: 5%;
      }
      