* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    
}
body{
    
    position: relative;
}

/* h1 to h6 tag  */

/* navbar  */

.navbar-color{
    background: #0b253e !important;
    color: #fff;
}
.main-menu {
    margin: 5%;
    height: 600px;
}

.main-nav{
    font-size: 16px;
    background: #0b253e;
    /* background: url("https://picsum.photos/200/300?grayscale"); */
    text-align:center;
    border: 1px solid rgb(255, 81, 0);
    padding: 80px;
}
.main-nav a {
    color: #fff !important;
    
}
#nav1:hover{
    background: url("https://picsum.photos/200/300?grayscale");
    transition: 0.7s;

}
#nav2:hover{
    background: url("https://picsum.photos/200/300?grayscale");
    transition: 0.7s;

}
#nav3:hover{
    background: url("https://picsum.photos/200/300?grayscale");
    transition: 0.7s;

}
#nav4:hover{
    background: url("https://picsum.photos/200/300?grayscale");
    transition: 0.7s;

}
#nav5:hover{
    background: url("https://picsum.photos/200/300?grayscale");
    transition: 0.7s;

}
#nav6:hover{
    background: url("https://picsum.photos/200/300?grayscale");
    transition: 0.7s;

}
.img-border{
    -webkit-box-shadow: 27px -20px 0px -9px rgba(224,92,20,0.81);
-moz-box-shadow: 27px -20px 0px -9px rgba(224,92,20,0.81);
box-shadow: 27px -20px 0px -9px rgba(224,92,20,0.81);
}
.imgforimg{
    -webkit-box-shadow: -30px -29px 0px -9px rgba(224,92,20,0.81);
-moz-box-shadow: -30px -29px 0px -9px rgba(224,92,20,0.81);
box-shadow: -30px -29px 0px -9px rgba(224,92,20,0.81);
}
.x-header{
    margin: 5%;
    color: rgb(32, 153, 143);
}
.x-discription{
    margin: 5%;
    font-size: 14px;
}
.x-link {
    margin: 5%;
    color: #9e4d18;
}
.def-u{
    margin-top: 20%;
}